In [2]:
import pandas as pd

names = ["Andy Hamilton", "Bob Test", "Steve Irwin", "Steve Jobs"]
ages = [23, 45, 60, 90]
eye_colours = ['Blue', 'Brown', 'Brown', 'Purple']

data = { 'names': names, 'ages': ages, 'eyes': eye_colours }

people = pd.DataFrame(data)
people.head()

   ages    eyes          names
0    23    Blue  Andy Hamilton
1    45   Brown       Bob Test
2    60   Brown    Steve Irwin
3    90  Purple     Steve Jobs

In [3]:
people.head()

   ages    eyes          names
0    23    Blue  Andy Hamilton
1    45   Brown       Bob Test
2    60   Brown    Steve Irwin
3    90  Purple     Steve Jobs

In [4]:
old_people = people['ages'] >= 50

In [5]:
people[old_people].sort_values((['ages']), ascending=False)['names']

3     Steve Jobs
2    Steve Irwin
Name: names, dtype: object

In [6]:
interests = pd.DataFrame({
    'names': ['Andy Hamilton', 'Steve Jobs', 'Steve Irwin'],
    'interests': ['Web Development', 'Apples', 'Sting Rays']
})

In [7]:
interests['names']

0    Andy Hamilton
1       Steve Jobs
2      Steve Irwin
Name: names, dtype: object

In [8]:
interests['names']

0    Andy Hamilton
1       Steve Jobs
2      Steve Irwin
Name: names, dtype: object

In [9]:
interests

         interests          names
0  Web Development  Andy Hamilton
1           Apples     Steve Jobs
2       Sting Rays    Steve Irwin

In [10]:
brics = pd.read_csv('brics.csv', index_col=0)

In [11]:
brics

         Country  Population      Area    Capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria

In [12]:
brics.columns = map(lambda column: column.lower(), brics.columns)

In [13]:
brics.describe()

        population          area
count     5.000000  5.000000e+00
mean    601.600000  7.943919e+06
std     644.806405  6.199591e+06
min      55.000000  1.221037e+06
25%     144.000000  3.287590e+06
50%     200.000000  8.515767e+06
75%    1252.000000  9.596961e+06
max    1357.000000  1.709824e+07

In [14]:
brics[['country', 'population']]

         country  population
BR        Brazil         200
RU        Russia         144
IN         India        1252
CH         China        1357
SA  South Africa          55

In [15]:
# loc = based on labels
# iloc = index
brics.loc[["RU", "CH"]][["country", "capital"]]

   country  capital
RU  Russia   Moscow
CH   China  Beijing

In [16]:
brics.loc["IN":]

         country  population     area    capital
IN         India        1252  3287590  New Delhi
CH         China        1357  9596961    Beijing
SA  South Africa          55  1221037   Pretoria

In [17]:
brics.iloc[1:3]

   country  population      area    capital
RU  Russia         144  17098242     Moscow
IN   India        1252   3287590  New Delhi

In [18]:
brics.loc[['RU', 'IN'], ['population', 'capital']]

    population    capital
RU         144     Moscow
IN        1252  New Delhi

In [19]:
import numpy as np
x = np.array([1,2,3])

In [20]:
x[x > 2]

array([3])

In [21]:
testObject = [{ 'name': 'Andy Hamilton', 'age': 23 }, { 'name': 'Dumbledore', 'age': 99 }]

df = pd.DataFrame(testObject)

In [22]:
df.head()

   age           name
0   23  Andy Hamilton
1   99     Dumbledore

In [23]:
df[df['age'] >= 50]

   age        name
1   99  Dumbledore

In [24]:
pop = brics['population']
brics[ np.logical_and(pop > 1000, pop < 2000) ]

   country  population     area    capital
IN   India        1252  3287590  New Delhi
CH   China        1357  9596961    Beijing

In [32]:
brics.head()

         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria

In [40]:
brics['populatino'].median()

KeyError: 'populatino'